.main {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.progress,
.complete {
  position: relative;
  border: 1px solid black;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.complete {
  border-color: green;
}

.complete::after {
  position: absolute;
  content: "+";
  color: green;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
